.header-item {
   
    position: relative;
  
    &-child {
      display: none;
      position: absolute;
      left: 100%;
      background-color: white;
      top: 0;
      // z-index: 10;
      border-radius: 5px;
      //  box-shadow: 0 0 10px rgba(0 0 0.5);
    }
  
    &:hover   {
      >.header-item-child{
      display: block;
      // &:hover{
      //   color: aqua;
      // }
      }
    }
  }