.header-item {
   
    position: relative;
  
    &-child {
      display: none;
      position: absolute;
      left: 100%;
      background-color: white;
      top: 0;
      // z-index: 10;
      border-radius: 5px;
    }
  
    &:hover   {
      >.header-item-child{
      display: block;
      box-shadow: 0 0 3px rgba(0 0 .5);
      z-index: 2;
      // &:hover{
      //   color: aqua;
      // }
      }
    }
  }