
@import "@/assets/components/Global.scss";
@import "@/assets/components/Subheader.scss";
@import "@/assets/components/HeaderItem.scss";
@import "@/assets/components/Header.scss";
@import "@/assets/components/Slider.scss";


// .barner {
//     img {
//         width: 100%;
//         height: 500px;
//     }

//     // .text-barner{
//     //     // color: #fff;
//     //    p{
//     //        font-size: 17px;
//     //    }
//     //    h1{
//     //        font-size: 50px;
//     //    }
//     // }
// }

.content {
    min-width: 1068px;

    .headding-events3,
    .headding-events2 {
        display: block;

        .headding-left {
            display: flex;
            letter-spacing: 2px;
            font-family: 'Orbitron', sans-serif;
            text-transform: capitalize;

            i {
                font-size: 40px;
                color: #ec7532;
            }

            h1,
            h2 {
                font-size: 40px;
                padding-right: 10px;
            }
        }

        .headding-bot {
            ul {
                display: flex;
                list-style: none;
                margin-top: 20px;
                padding: 0;

                a {
                    padding: 0 15px;
                    color: #111111;
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                        color: #ec7532;
                    }
                }
            }
        }
    }

    .headding-events {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headding-left {
            display: flex;
            letter-spacing: 2px;
            font-family: 'Orbitron', sans-serif;
            text-transform: capitalize;

            i {
                font-size: 40px;
                color: #ec7532;
            }

            h1,
            h2 {
                font-size: 40px;
                padding-right: 10px;
            }
        }

        .headding-right {
            button {
                border: 1px solid #ccc;
            }
        }
    }

    .film-list5,
    .film-list10 {
        margin-top: 15px;

        .film-hot {
            margin-bottom: 40px;

            .animation-film {
                position: absolute;
                width: 218px;
                height: 315px;
                background-color: #fe9052;
                display: flex;
                justify-content: center;
                align-items: center;

                // animation-timing-function: ease;
                // opacity: 0.6;
                // animation-name: image;
                // animation: image 1s infinite ;                            
                // border: 1px solid #333;
                i {
                    font-size: 50px;
                }
            }

            // @keyframes image {
            //     from {top: 315px;}

            //     to {top: 630px;}
            // }


            .film-name {
                position: relative;

                &:hover {
                    cursor: pointer;
                    opacity: 0.2;
                    transition: 1s;
                }

                img {
                    width: 218px;
                    height: 315px;
                }

                img:hover {}
            }

            .film-number {
                button {
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                    background-color: #ec7532;
                    font-size: 14px;

                    i {
                        padding-right: 5px;
                    }
                }

                h3 {
                    letter-spacing: 2px;
                    font-size: 19px;
                    font-weight: 600;
                    padding-top: 15px;
                }

                h3:hover {
                    color: #ec7532;
                    cursor: pointer;
                }

                a {
                    color: #111111;
                    padding-right: 15px;
                    font-size: 14px;

                    i {
                        color: #ec7532;
                        padding-right: 10px;
                    }
                }

                a:hover {
                    color: #ec7532;
                    text-decoration: none;
                }
            }
        }
    }

    .trailer {
        width: 100%;
        background-color: #eaeaea;

        .text-background {
            margin: 70px 0;
            background: url('@/assets/image/barner1.jpeg') center / cover no-repeat;
            width: 926px;
            height: 548px;
            text-align: center;
            position: relative;

            .text-trailer {
                position: absolute;
                left: 10%;
                top: 40%;

                p {
                    font-size: 17px;
                    color: #fe9052;
                    font-family: 'Roboto Condensed', sans-serif;
                    letter-spacing: 2px;
                }

                h4 {
                    color: #fff;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 40px;
                    font-weight: 500;
                    letter-spacing: 2px;
                }

                .btn-sub {
                    button {
                        background-color: #ec7532;
                        color: #fff;
                        padding: 5px 20px;
                        border-radius: 20px;
                        border: none;
                        letter-spacing: 2px;
                    }
                }
            }

            .videoyt {
                position: absolute;
                left: 75%;
                top: 15%;
                border: 4px solid #ec7532;
                border-radius: 8px;
            }
        }
    }

    .background-input {
        margin: 70px 0;
        background: url('@/assets/image/barner1.jpeg') center / cover no-repeat;
        width: 100%;
        height: 480px;
        position: relative;

        .text-background {
            position: absolute;
            left: 50%;
            text-align: center;
            top: 30%;
            transform: translate(-50%);

            .icon-down {
                i {
                    font-size: 30px;
                    margin: 40px 0 5px 0;
                    color: #eaeaea;
                    animation: icon 1s infinite;
                    animation-timing-function: ease;
                    // position: relative;

                    @keyframes icon {
                        from {
                            // top: -30px;
                            color: #ec7532;
                            opacity: 0;
                            transform: translateY(-30px);
                        }

                        to {
                            // top: -10px;
                            color: #eaeaea;
                            opacity: 1;
                            transform: translateY(-10px);
                        }
                    }

                }
            }



            p {
                font-size: 17px;
                color: #fe9052;
                font-family: 'Roboto Condensed', sans-serif;
                letter-spacing: 2px;
            }

            h4 {
                color: #fff;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 40px;
                font-weight: 500;
            }


            .email-input {
                position: relative;
                display: flex;
                justify-content: right;
                margin-top: 20px;

                input {
                    width: 544px;
                    height: 40px;
                    padding: 5px 120px 5px 20px;
                    border-radius: 20px;
                    outline: 0;
                }

                .btn-sub {
                    position: absolute;
                    font-size: 16px;
                    height: 100%;

                    button {
                        width: 120px;
                        height: 100%;
                        background-color: #ec7532;
                        color: #fff;
                        padding: 5px 20px;
                        border-radius: 20px;
                        border: none;
                    }
                }
            }
        }
    }

    .new {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .only-new {
            width: 555px;
            height: 600px;

            .text-new {
                h5 {
                    font-size: 23px;
                    margin: 20px 0;
                    font-weight: 600;
                    text-transform: uppercase;
                    &:hover{
                        color: #ec7532;
                        transition: .2s;
                        cursor: pointer;
                       
                    }
                }
            }
        }

        .only-new,
        .only-new1,
        .only-new2 {
            img{
                transition: 0.2s;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;    
                }
            }
            .text-new,
            .text-new1 {
                letter-spacing: 1px;

                p,
                .icon-new {
                    font-size: 14px;
                    color: #111111;
                    margin: 20px 0;
                    line-height: 1.6;

                    i {
                        color: #ec7532;
                        margin-right: 25px;
                    }
                }
            }
        }

        .only-new1,
        .only-new2 {
            width: 260px;
            height: 600px;

            .text-new1 {
                h5 {
                    font-size: 18px;
                    margin: 20px 0;
                    font-weight: 600;
                    text-transform: uppercase;
                    &:hover{
                        color:#ec7532;
                        transition: .2s;
                        cursor: pointer;

                    }
                }
            }
        }

        .only-new2 {
            margin-right: 15px;
        }
    }
}

// .js-info{
//     position: fixed;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top:0;
//     display: none;
//     z-index: 1;
//     .find-container{
//         background-color: #ec7532;
//         width: 400px;
//         height: 250px;
//         .close-find{
//             float:right;
//             padding: 8px ;
//         }
//         p{
//             margin: 20px 0;
//         }
//         input{
//             width: 100%;
//             height: 10%;
//         }
//     }
// }

.footer {
    width: 100%;
    background-color: #101010;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;

    .text-footer {
        display: flex;
        justify-content: space-between;
        padding: 70px 0;

        a,
        p {
            color: #eaeaea;
            font-size: 13px;
            line-height: 20px;
        }

        img,
        h6 {
            color: #ec7532;
            margin-bottom: 15px;
            font-size: 17px;
        }

        .text-footer1 {
            p {
                line-height: 10px;
            }

            .icon-footer {
                i {
                    color: #eaeaea;
                    padding-right: 20px;

                }
            }
        }

        .text-footer2 {
            a {
                display: block;
                margin-bottom: 10px;

                &:hover {
                    text-decoration: none;
                    color: #ec7532;
                }
            }
        }

        .text-footer3 {
            p{
            a {
                // margin-right: 5px;
                // // font-size: 16px;
                // // color: #ec7532;
            }
        }
        }
    }

    .sub-footer {
        border-top: 1px solid #ccc;

        .text-sub {
            display: flex;
            justify-content: center;
            font-size: 13px;
            align-items: center;
            a{
                text-decoration: none;
                &:hover{
                    color: #ec7532;
                }
            }
            p {
                color: #eaeaea;
                padding: 14px 8px 0 0;
            }
        }
    }
}
// .open{
//     display: flex;
// }


