.header {
  a {
    color: $color-red;
  }
  & {
    height: 86px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color: #fff;

    .header-left {
      display: flex;
      align-items: center;

      img {
        height: 32px;
      }

      .input {
        position: relative;
        display: flex;
        justify-content: right;
        margin-left: 12px;
        align-items: center;

        input {
          padding: 5px 50px 5px 10px;
          min-width: 289px;
          border-radius: 8px;
          border: #ccc solid 1px;
          background: #eaeaea;
          color: #333;
          font-size: 14px;
          height: 40px;
        }

        .search {
          position: absolute;
          padding: 1px 6px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .header-right {
      .pd15 {
        display: flex;
        list-style: none;
        font-size: 14px;
        margin: auto;
        text-decoration: none;
        letter-spacing: 2px;

        ul {
          list-style: none;
        }

        & > li {
          padding: 30px 4px;
          font-weight: 400;
          margin: 0 6px;
        }

        a {
          text-decoration: none;
          color: #13212d;

          &:hover {
            color: #ec7532;
          }
        }

        .same {
          position: relative;

          &:hover {
            .sub-same {
              display: block;
            }

            li {
              border-bottom: 1px solid #ccc;
            }
          }
        }

        .sub-same {
          position: absolute;
          box-shadow: 0 0 10px rgba(0, 0, 0.5);
          padding: 10px;
          border-radius: 10px;
          z-index: 10;
          background: #fff;
          display: none;

          li {
            font-size: 14px;
            padding: 15px 4px;
            min-width: 180px;
          }

          
        }
      }
    }
  }
}
